<ion-header>

  <ion-navbar id="modal-auth-toolbar">
    <ion-title id="modal-title">Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content id="modal-auth-container">
  <img margin-top src="https://s3.amazonaws.com/budtrac/budtrac-logo.png" alt="budtrac logo">
  <!--<div id="budtrac-logo">-->
  <!--<div id="budtrac-logo-circle"></div>-->
  <!--<div id="budtrac-logo-overlap"></div>-->
  <!--</div>-->

  <p ion-text color="light" text-center padding>Welcome to the BudTrac app! We're glad you're here. Use this app to easily track your weekly / monthly budgets. And best of all, it's free!</p>

  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>

    <!--<ion-item *ngIf="hasValidationErrors" class="validation-errors">-->
      <!--<h5>{{validationErrors.message}}:</h5>-->
      <!--<ul>-->
        <!--<li>{{validationErrors.errors.property[0].message}}</li>-->
      <!--</ul>-->
    <!--</ion-item>-->

    <ion-item padding-horizontal>
      <ion-label floating>Username</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)" (keyup.enter)="loginButtonMain ? login(username, password) : signUp(username, password, confirmPassword, firstName); loading = true" [class.invalid]="!loginForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>

    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item padding-horizontal>
      <ion-label floating>Password</ion-label>
      <ion-input #password formControlName="password" type="password" (change)="elementChanged(password)" [(ngModel)]="password" (keyup.enter)="loginButtonMain ? login(username, password) : signUp(username, password, confirmPassword, firstName); loading = true" [class.invalid]="!loginForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>

    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  &&
      (passwordChanged || submitAttempt)">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>

    <ion-item padding-top>
      <ion-buttons>
        <button type="submit" ion-button block [disabled]="loading" [class.loading]="loading" (click)="loading = true">{{loading ? 'Loading...' : 'Login'}}<span id="loading-spinner" *ngIf="loading"></span></button>
        <button margin-top ion-button block color="lighter" (click)="createAccount()">Register</button>
        <button margin-top ion-button block clear (click)="goToResetPassword()">Forgot password?</button>
      </ion-buttons>
    </ion-item>

  </form>

  <div id="footer-container">
    <p ion-text color="light" class="small-text" text-center>
      <ion-icon name="logo-twitter"></ion-icon>
      <a href="https://twitter.com/chrissgaona">
        Follow @chrissgaona
      </a>
    </p>
    <p ion-text text-center color="light" class="small-text">Copyright &copy; 2016 Chris Gaona</p>
  </div>
</ion-content>
