<ion-header>
  <ion-navbar id="header">
    <ion-title text-capitalize id="home">
      Edit - {{item.item}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="edit-container">

  <ion-list>

    <p class="edit-header" padding no-margin>
      Let's do some edits!
    </p>

    <ion-item class="paid no-bottom-border">
      <ion-label>Mark this item fully paid?</ion-label>
      <ion-checkbox color="secondary" checked="false" [(ngModel)]="item.paid"></ion-checkbox>
    </ion-item>

    <ion-item class="no-bottom-border">
      <ion-label *ngIf="!item.due_date">No due date set</ion-label>
      <ion-label *ngIf="item.due_date">Due {{parseDate(item.due_date)}}</ion-label>
      <ion-toggle [(ngModel)]="item.due" (ngModelChange)="presentPopover($event)"></ion-toggle>
    </ion-item>

    <form [formGroup]="editForm" (ngSubmit)="saveAll(editForm)" novalidate>

      <ion-list-header>
        Projection
      </ion-list-header>

      <div class="form-group">

        <!--display error message if name is not valid-->
        <ion-item *ngIf="!editForm.controls.itemName.valid && (editForm.controls.itemName.dirty || submitAttempt)" class="no-bottom-border">
          <span ion-text color="danger">Item name is required</span>
        </ion-item>
        <ion-item no-padding class="projection-name">
          <ion-icon name="information-circle" item-left class="no-margin" color="primary"></ion-icon>
          <ion-input placeholder="Bill name" formControlName="itemName" text-capitalize ion-text color="primary" type="text" class="no-padding"></ion-input>
        </ion-item>

        <ion-item padding-top id="edit-question">
          <p>How much do you expect to spend?</p>
        </ion-item>

        <!--&lt;!&ndash;Must comment out this range section in order to not break test with Haptic provider issue!!&ndash;&gt;-->
        <!--<ion-item id="projection-range" padding-top>-->
          <!--<ion-range min="0" max="1000" step=".05" pin="true" [(ngModel)]="item.projection" color="dark">-->
            <!--<ion-icon range-left small name="logo-usd" color="primary"></ion-icon>-->
            <!--<ion-icon range-right name="logo-usd" color="primary"></ion-icon>-->
          <!--</ion-range>-->
        <!--</ion-item>-->
        <!--&lt;!&ndash;END&ndash;&gt;-->

        <ion-item *ngIf="!editForm.controls.projection.valid && (editForm.controls.projection.dirty || submitAttempt)" class="no-bottom-border">
          <span ion-text color="danger">Use this format: $25.52</span>
        </ion-item>
        <ion-item no-padding padding-bottom class="projection-amount">
          <ion-icon name="logo-usd" item-left class="no-margin" color="primary"></ion-icon>
          <ion-input formControlName="projection" no-margin id="projection-input" ion-text color="primary" type="number" class="no-padding"></ion-input>
        </ion-item>
      </div>

      <ion-list-header>
        Actual
      </ion-list-header>

      <ion-item *ngIf="item.projection - getActualTotal(item) >= 0">
        You have <b ion-text>{{item.projection - getActualTotal(item) | currency:'USD':true}}</b> left for this budget item.
      </ion-item>

      <ion-item *ngIf="item.projection - getActualTotal(item) < 0">
        Uh oh...you're <b ion-text color="danger">{{item.projection - getActualTotal(item) | currency:'USD':true}}</b> over budget.
      </ion-item>

      <ion-grid class="edit-subcontainer" formArrayName="actuals">
        <ion-row *ngFor="let actual of editForm.controls.actuals.controls; let i = index" [formGroupName]="i">
          <ion-col width-50 no-padding>
            <ion-item no-padding [class.invalid]="!editForm.controls.actuals.controls[i].controls.name.valid">
              <!--<ion-icon name="information-circle" item-left class="no-margin"></ion-icon>-->
              <!--<ion-icon formControlName="expense" id="toggle-switch" name="{{actual.expense ? 'remove-circle' : 'add-circle'}}" item-left class="no-margin" [class.indicator-subtract]="actual.expense" [class.indicator-add]="!actual.expense" (click)="toggleAddSubtract(actual)"></ion-icon>-->
              <ion-checkbox id="actual-checkbox" formControlName="expense" color="danger"></ion-checkbox>
              <ion-input placeholder="Payment text" formControlName="name" text-capitalize type="text" class="no-padding"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col width-50 no-padding>
            <ion-item no-padding [class.invalid]="!editForm.controls.actuals.controls[i].controls.amount.valid">
              <ion-icon name="logo-usd" item-left class="no-margin"></ion-icon>
              <ion-input formControlName="amount" type="number" class="no-padding"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item class="edit-subcontainer no-bottom-border">
        <ion-buttons left>
          <button type="button" ion-button color="lighter" icon-only margin-left (click)="addActualItem(item.actual)">
            <ion-icon name="add"></ion-icon>
          </button>
          <button type="submit" ion-button margin-left>
            Save
            <span id="loading-spinner" *ngIf="loading"></span>
          </button>

          <button type="button" ion-button color="danger" icon-only margin-left (click)="showCheckbox()">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-buttons>
      </ion-item>

    </form>

  </ion-list>

</ion-content>
