page-edit {
  #edit-container {
    background-color: #eee;
  }

  .edit-header {
    background: #666 !important;
    color: #fff !important;
  }

  .edit-subcontainer {
    background-color: #fff;
  }

  .projection-name {
    font-size: 3rem;
  }

  .projection-amount {
    font-size: 5.5rem;

    .item-inner {
      border: none !important;
    }
  }

  #projection-input {

    input {
      text-align: center;
    }
  }

  #projection-range {

    .item-inner {
      border: none;
    }
  }
}
