page-edit {
  #edit-container {
    background-color: #eee;
  }

  .edit-header {
    background: #688dcc !important;
    color: #fff !important;
  }

  .edit-subcontainer {
    background-color: #fff;
  }

  .projection-name {
    font-size: 3rem;
    border-bottom: 4px solid #688dcc;

    .item-inner {
      border-bottom: none !important;
    }
  }

  .projection-amount {
    font-size: 5.5rem;

    .item-inner {
      border: none !important;
    }
  }

  .paid {

    .item-inner {
      border: none !important;
    }
  }

  #due-date {
    font-size: 4rem;
    font-weight: bold;
  }

  .due-date-next {

    .item-inner {
      border: none !important;
    }
  }

  #projection-input {

    input {
      text-align: center;
    }
  }

  #projection-range {

    .item-inner {
      border: none;
    }

    ion-range {
      padding: 0;
    }
  }

  #edit-question {

    .item-inner {
      border-bottom: none;
    }
  }

  #toggle-switch {
    position: relative;
    z-index: 1000;
  }
}
