<ion-header>
  <ion-navbar id="header">
    <ion-buttons start *ngIf="currentUser && networkService.wifiConnected">
      <button ion-button icon-only ion-text color="dark" (click)="presentPopover($event)">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <!--<div id="title-container" no-margin no-padding *ngIf="!scrollTop()">-->
        <!--Ending Cash $17,892.53-->
      <!--</div>-->
      <div id="title-container" no-margin no-padding>
        <h2 ion-text color="dark" class="title" no-margin no-padding>
          Bud
        </h2>
        <img src="https://s3.amazonaws.com/budtrac/budtrac-logo.png" alt="budtrac logo">
        <h2 ion-text color="dark" class="title" no-margin no-padding>
          Trac
        </h2>
      </div>
    </ion-title>
    <ion-buttons end *ngIf="budgets && currentUser && networkService.wifiConnected">
      <button ion-button icon-only ion-text color="dark" (click)="openModalEdit()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content id="main-container">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!networkService.wifiConnected" id="no-wifi" text-center>
    <ion-icon name="cloud" color="dark"></ion-icon>
    <p no-margin ion-text color="dark">Offline</p>
  </div>

  <div id="no-budgets" *ngIf="!budgets && networkService.wifiConnected && currentUser && !visibleBudgets">
    <ion-card>

      <ion-card-content>

        <!--Thank you http://codepen.io/mattsince87/pen/mOzEbX for the following code-->
        <span class="svg"><svg xmlns="http://www.w3.org/2000/svg" id="firework-slide2" class="firework-icon injected-svg img-firework inject-svg" data-name="Calque 1" viewBox="0 0 157 156">
	<defs>
		<style>
			.cls-1,.cls-2,.cls-3{
        fill:#e41656;
        opacity:0;
      }
		</style>
	</defs>
	<title>icon_firework_1</title>
	<path class="cls-3" d="M80.52,106.92a0.65,0.65,0,0,1-.65-0.65v-10a0.65,0.65,0,0,1,1.3,0v10A0.65,0.65,0,0,1,80.52,106.92Z"></path>
	<path class="cls-3" d="M97.72,100.91a0.65,0.65,0,0,1-.52-0.26l-6-8a0.65,0.65,0,0,1,1-.78l6,8A0.65,0.65,0,0,1,97.72,100.91Z"></path>
	<path class="cls-3" d="M108.32,85.95a0.61,0.61,0,0,1-.19,0l-9.55-3A0.65,0.65,0,1,1,99,81.69l9.55,3A0.65,0.65,0,0,1,108.32,85.95Z"></path>
	<path class="cls-3" d="M98.77,71a0.65,0.65,0,0,1-.2-1.27l9.55-3a0.65,0.65,0,1,1,.39,1.24L99,71A0.66,0.66,0,0,1,98.77,71Z"></path>
	<path class="cls-3" d="M91.7,61a0.65,0.65,0,0,1-.52-1l6-8a0.65,0.65,0,0,1,1,.78l-6,8A0.65,0.65,0,0,1,91.7,61Z"></path>
	<path class="cls-3" d="M80.52,57a0.65,0.65,0,0,1-.65-0.65v-10a0.65,0.65,0,0,1,1.3,0v10A0.65,0.65,0,0,1,80.52,57Z"></path>
	<path class="cls-3" d="M67.64,61a0.65,0.65,0,0,1-.52-0.26l-6-8a0.65,0.65,0,0,1,1-.78l6,8A0.65,0.65,0,0,1,67.64,61Z"></path>
	<path class="cls-3" d="M60.57,71a0.66,0.66,0,0,1-.2,0l-9.55-3a0.65,0.65,0,1,1,.39-1.24l9.55,3A0.65,0.65,0,0,1,60.57,71Z"></path>
	<path class="cls-3" d="M51,85.95a0.65,0.65,0,0,1-.19-1.27l9.55-3a0.65,0.65,0,1,1,.39,1.24l-9.55,3A0.61,0.61,0,0,1,51,85.95Z"></path>
	<path class="cls-3" d="M61.62,100.91a0.65,0.65,0,0,1-.52-1l6-8a0.65,0.65,0,0,1,1,.78l-6,8A0.65,0.65,0,0,1,61.62,100.91Z"></path>

	<path class="cls-2" d="M80.52,126.88a0.65,0.65,0,0,1-.65-0.65v-10a0.65,0.65,0,0,1,1.3,0v10A0.65,0.65,0,0,1,80.52,126.88Z"></path>
	<path class="cls-2" d="M109.74,116.86a0.65,0.65,0,0,1-.52-0.26l-6-8a0.65,0.65,0,0,1,1-.78l6,8A0.65,0.65,0,0,1,109.74,116.86Z"></path>
	<path class="cls-2" d="M127.42,91.92a0.61,0.61,0,0,1-.19,0l-9.55-3a0.65,0.65,0,1,1,.39-1.24l9.55,3A0.65,0.65,0,0,1,127.42,91.92Z"></path>
	<path class="cls-2" d="M117.86,65a0.65,0.65,0,0,1-.2-1.27l9.55-3a0.65,0.65,0,1,1,.39,1.24l-9.55,3A0.66,0.66,0,0,1,117.86,65Z"></path>
	<path class="cls-2" d="M103.73,45.08a0.65,0.65,0,0,1-.52-1l6-8a0.65,0.65,0,0,1,1,.78l-6,8A0.65,0.65,0,0,1,103.73,45.08Z"></path>
	<path class="cls-2" d="M80.52,37.07a0.65,0.65,0,0,1-.65-0.65v-10a0.65,0.65,0,0,1,1.3,0v10A0.65,0.65,0,0,1,80.52,37.07Z"></path>
	<path class="cls-2" d="M55.61,45.08a0.65,0.65,0,0,1-.52-0.26l-6-8a0.65,0.65,0,0,1,1-.78l6,8A0.65,0.65,0,0,1,55.61,45.08Z"></path>
	<path class="cls-2" d="M41.47,65a0.62,0.62,0,0,1-.2,0l-9.55-3a0.65,0.65,0,1,1,.39-1.24l9.55,3A0.65,0.65,0,0,1,41.47,65Z"></path>
	<path class="cls-2" d="M31.92,91.93a0.65,0.65,0,0,1-.19-1.27l9.55-3a0.65,0.65,0,1,1,.39,1.24l-9.55,3A0.61,0.61,0,0,1,31.92,91.93Z"></path>
	<path class="cls-2" d="M49.59,116.86a0.65,0.65,0,0,1-.52-1l6-8a0.65,0.65,0,0,1,1,.78l-6,8A0.65,0.65,0,0,1,49.59,116.86Z"></path>

	<path class="cls-1" d="M80.52,146.83a0.65,0.65,0,0,1-.65-0.65v-10a0.65,0.65,0,0,1,1.3,0v10A0.65,0.65,0,0,1,80.52,146.83Z"></path>
	<path class="cls-1" d="M121.77,132.82a0.65,0.65,0,0,1-.52-0.26l-6-8a0.65,0.65,0,0,1,1-.78l6,8A0.65,0.65,0,0,1,121.77,132.82Z"></path>
	<path class="cls-1" d="M146.52,97.9a0.61,0.61,0,0,1-.19,0l-9.55-3a0.65,0.65,0,1,1,.39-1.24l9.55,3A0.65,0.65,0,0,1,146.52,97.9Z"></path>
	<path class="cls-1" d="M137,59a0.65,0.65,0,0,1-.2-1.27l9.55-3A0.65,0.65,0,1,1,146.7,56l-9.55,3A0.66,0.66,0,0,1,137,59Z"></path>
	<path class="cls-1" d="M115.76,29.12a0.65,0.65,0,0,1-.52-1l6-8a0.65,0.65,0,0,1,1,.78l-6,8A0.65,0.65,0,0,1,115.76,29.12Z"></path>
	<path class="cls-1" d="M80.52,17.11a0.65,0.65,0,0,1-.65-0.65v-10a0.65,0.65,0,0,1,1.3,0v10A0.65,0.65,0,0,1,80.52,17.11Z"></path>
	<path class="cls-1" d="M22.37,59a0.62,0.62,0,0,1-.2,0l-9.55-3A0.65,0.65,0,1,1,13,54.77l9.55,3A0.65,0.65,0,0,1,22.37,59Z"></path>
	<path class="cls-1" d="M12.82,97.9a0.65,0.65,0,0,1-.19-1.27l9.55-3a0.65,0.65,0,1,1,.39,1.24l-9.55,3A0.61,0.61,0,0,1,12.82,97.9Z"></path>
	<path class="cls-1" d="M43.58,29.12a0.65,0.65,0,0,1-.52-0.26l-6-8a0.65,0.65,0,0,1,1-.78l6,8A0.65,0.65,0,0,1,43.58,29.12Z"></path>
	<path class="cls-1" d="M37.56,132.82a0.65,0.65,0,0,1-.52-1l6-8a0.65,0.65,0,0,1,.91-0.13,0.65,0.65,0,0,1,.13.91l-6,8A0.65,0.65,0,0,1,37.56,132.82Z"></path>
</svg><h1 id="welcome-banner" text-uppercase text-center>Welcome {{currentUser.firstName}}!</h1></span>
        <!--end of thank you-->

        <p margin-vertical text-center>Thanks for joining BudTrac! I know you'll enjoy your experience here.</p>

        <p margin-vertical text-center>You don't have any budgets yet, but it won't stay that way.</p>

        <p margin-vertical text-center>Click the button below to get started. Enjoy!</p>

        <button ion-button block id="start-button" [disabled]="loading" [class.loading]="loading" (click)="createFirstBudget(); loading = true">{{loading ? 'Loading...' : 'Start a new budget'}}<span id="loading-spinner" *ngIf="loading"></span></button>
      </ion-card-content>

    </ion-card>
  </div>

  <div *ngIf="!budgets && networkService.wifiConnected && visibleBudgets" id="main-loader"></div>

  <div padding *ngIf="budgets && networkService.wifiConnected" id="sub-container">

    <!--<h2>BudTrac</h2>-->

    <div *ngIf="userService.isLoggedIn()">
      <ion-card no-margin margin-bottom class="full-width">

        <ion-card-content id="health-snapshot" no-padding padding-horizontal margin-bottom *ngIf="(getTotalSpent(selectedBudget.budget_items, 'actual').totalSaving / selectedBudget.current_income) > .1">
          Health Snapshot
          <ion-icon name="checkmark-circle" id="health-icon"></ion-icon>
        </ion-card-content>

        <ion-card-content id="health-snapshot" class="warning" no-padding padding-horizontal margin-bottom *ngIf="(getTotalSpent(selectedBudget.budget_items, 'actual').totalSaving / selectedBudget.current_income) <= .1 && (getTotalSpent(selectedBudget.budget_items, 'actual').totalSaving / selectedBudget.current_income) >= 0">
          Health Snapshot
          <ion-icon name="alert" id="warning-icon"></ion-icon>
        </ion-card-content>

        <ion-card-content id="health-snapshot" class="danger" no-padding padding-horizontal margin-bottom *ngIf="(getTotalSpent(selectedBudget.budget_items, 'actual').totalSaving / selectedBudget.current_income) < 0">
          Health Snapshot
          <ion-icon name="close-circle" id="danger-icon"></ion-icon>
        </ion-card-content>

        <hr id="health-hr">

        <ion-item id="saving-overview">
          <ion-icon name="arrow-dropright-circle" color="primary" item-left></ion-icon>
          <span ion-text text-center color="light">Saving Overview</span>
          <ion-badge item-right id="badge">See More</ion-badge>
        </ion-item>

        <div class="progress-wrapper">
          <div class="current" [ngStyle]="getOverlayStyle()"><p ion-text text-center>Current</p>{{getTotalSpent(selectedBudget.budget_items, 'actual').percSaving | percent:'1.0-0'}}</div>
          <round-progress [current]="getTotalSpent(selectedBudget.budget_items, 'actual').percSaving" [max]="1" [duration]="duration" [animationDelay]="animationDelay" [radius]="radius" [semicircle]="semicircle" [color]="gradient ? 'url(#gradient)' : color" [responsive]="true"></round-progress>
        </div>

        <div class="progress-wrapper" id="second-progress" margin-bottom>
          <div class="current" [ngStyle]="getOverlayStyle()"><p ion-text text-center>Overall</p>{{ averageSaving | percent:'1.0-0'}}</div>
          <round-progress [current]="averageSaving" [max]="1" [duration]="duration" [animationDelay]="animationDelay" [radius]="radius" [semicircle]="semicircle" [color]="gradient ? 'url(#gradient)' : colorAverage" [responsive]="true"></round-progress>
        </div>

      </ion-card>

      <ion-list no-margin margin-top id="select-container">
        <ion-item>
          <ion-label class="select-field">Period</ion-label>
          <ion-select [(ngModel)]="selectedBudget" class="select-field">
            <ion-option *ngFor="let budget of budgets" [value]="budget">{{budget.start_period | date}}</ion-option>
            <!--<ion-option value="Nov7">Nov 7, 2016</ion-option>-->
            <!--<ion-option value="Nov21">Nov 21, 2016</ion-option>-->
          </ion-select>
        </ion-item>
      </ion-list>

      <p no-margin margin-vertical margin-left class="small-text" ion-text color="light" *ngIf="selectedBudget.updatedAt">
        Last Updated - {{parseDate(selectedBudget.updatedAt)}}
      </p>

      <ion-card no-margin margin-vertical class="full-width">

        <ion-card-content no-padding padding-horizontal id="total-dollars">
          <ion-icon name="cash" item-left class="header-icon" ion-text color="lighter"></ion-icon>
          <p class="header-dollars" ion-text color="lighter"><span>Total: </span>{{selectedBudget.existing_cash | currency:'USD':true}}</p>
        </ion-card-content>

      </ion-card>

      <ion-card no-margin margin-vertical class="full-width">

        <ion-card-content no-padding padding-horizontal id="total-income">
          <ion-icon name="log-in" item-left class="header-icon" ion-text color="lighter"></ion-icon>
          <p class="header-dollars" ion-text color="lighter"><span>Income: </span>{{selectedBudget.current_income | currency:'USD':true}}</p>
        </ion-card-content>

      </ion-card>

      <ion-card no-margin margin-vertical class="full-width">

        <ion-card-content no-padding padding-horizontal id="total-expense">
          <ion-icon name="log-out" item-left class="header-icon" ion-text color="lighter"></ion-icon>
          <p class="header-dollars" ion-text color="lighter"><span>Expense: </span>{{getTotalSpent(selectedBudget.budget_items, 'actual').totalSpent | currency:'USD':true}}</p>
        </ion-card-content>

      </ion-card>

      <hr class="main-hr">

      <div padding>
        <ion-segment [(ngModel)]="projActual">
          <ion-segment-button value="projection" (click)="projActual = 'projection'">
            Projection
          </ion-segment-button>
          <ion-segment-button value="actual" (click)="projActual = 'actual'">
            Actual
          </ion-segment-button>
        </ion-segment>
      </div>

      <ion-list class="projActual" *ngIf="projActual === 'projection'">

        <ion-list-header>
          Projection
        </ion-list-header>

        <ion-item-sliding *ngFor="let item of selectedBudget.budget_items" class="projActualItem" margin-bottom>
          <ion-item text-capitalize (click)="goToEditPage(selectedBudget._id, selectedBudget, item)">{{item.item}}<span>{{item.projection | currency:'USD':true}}</span></ion-item>
          <ion-item-options side="right">
            <button ion-button color="danger" (click)="showConfirm(item)">
              Delete
            </button>
          </ion-item-options>
        </ion-item-sliding>

        <ion-buttons>
          <button id="add-new-button" ion-button color="primary" icon-left round (click)="addBudgetItem()">
            <ion-icon name="add"></ion-icon>
            Add new item
          </button>
        </ion-buttons>

      </ion-list>

      <ion-list class="projActual" *ngIf="projActual === 'actual'">

        <ion-list-header>
          Actual
        </ion-list-header>

        <ion-item-group *ngFor="let item of selectedBudget.budget_items" margin-bottom>
          <ion-item-divider color="lighter" text-capitalize>{{item.item}}<span item-right ion-text color="{{(item.projection - getActualTotal(item)) < 0 ? 'danger' : 'light'}}" class="small-text">{{item.projection - getActualTotal(item) | currency:'USD':true}}</span></ion-item-divider>
          <ion-item-sliding *ngFor="let actual of item.actual" class="projActualItem">
            <ion-item text-capitalize (click)="goToEditPage(selectedBudget._id, selectedBudget, item)">{{actual.name}}<span><ion-icon name="{{actual.expense ? 'remove-circle' : 'add-circle'}}" [class.indicator-subtract]="actual.expense" [class.indicator-add]="!actual.expense"></ion-icon> {{actual.amount | currency:'USD':true}}</span></ion-item>
            <ion-item-options side="left">
              <button ion-button color="light" (click)="toggleAddSubtract(actual)">
                + | -
              </button>
            </ion-item-options>
            <ion-item-options side="right">
              <button ion-button color="danger" (click)="showConfirmation(item, actual)">
                Delete
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-item-group>

        <ion-buttons>
          <button id="add-new-button" ion-button color="primary" icon-left round (click)="addBudgetItem()">
            <ion-icon name="add"></ion-icon>
            Add new item
          </button>
        </ion-buttons>

      </ion-list>

      <ion-list class="projActual totals-list" *ngIf="projActual === 'projection'">

        <ion-list-header>
          Totals
        </ion-list-header>

        <ion-item [class.danger]="getTotalSpent(selectedBudget.budget_items, 'projection').totalSpent > selectedBudget.current_income">Spent<span>{{getTotalSpent(selectedBudget.budget_items, 'projection').totalSpent | currency:'USD':true}}</span></ion-item>
        <ion-item [class.warning]="(getTotalSpent(selectedBudget.budget_items, 'projection').totalSaving / selectedBudget.current_income) <= .1 && (getTotalSpent(selectedBudget.budget_items, 'projection').totalSaving / selectedBudget.current_income) >= 0" [class.danger]="(getTotalSpent(selectedBudget.budget_items, 'projection').totalSaving / selectedBudget.current_income) < 0">Saving<span>{{getTotalSpent(selectedBudget.budget_items, 'projection').totalSaving | currency:'USD':true}}</span></ion-item>
        <ion-item [class.danger]="getTotalSpent(selectedBudget.budget_items, 'projection').percSaving <= .1 && getTotalSpent(selectedBudget.budget_items, 'projection').percSaving >= 0" [class.danger]="getTotalSpent(selectedBudget.budget_items, 'projection').percSaving < 0">% Saving<span>{{getTotalSpent(selectedBudget.budget_items, 'projection').percSaving | percent:'1.0-0'}}</span></ion-item>
        <ion-item><b>Ending Cash<span>{{getTotalSpent(selectedBudget.budget_items, 'projection').endingCash | currency:'USD':true}}</span></b></ion-item>

      </ion-list>

      <ion-list class="projActual totals-list" *ngIf="projActual === 'actual'">

        <ion-list-header>
          Totals
        </ion-list-header>

        <ion-item [class.danger]="getTotalSpent(selectedBudget.budget_items, 'actual').totalSpent > selectedBudget.current_income">Spent<span>{{getTotalSpent(selectedBudget.budget_items, 'actual').totalSpent | currency:'USD':true}}</span></ion-item>
        <ion-item [class.warning]="(getTotalSpent(selectedBudget.budget_items, 'actual').totalSaving / selectedBudget.current_income) <= .1 && (getTotalSpent(selectedBudget.budget_items, 'actual').totalSaving / selectedBudget.current_income) >= 0" [class.danger]="(getTotalSpent(selectedBudget.budget_items, 'actual').totalSaving / selectedBudget.current_income) < 0">Saving<span>{{getTotalSpent(selectedBudget.budget_items, 'actual').totalSaving | currency:'USD':true}}</span></ion-item>
        <ion-item [class.warning]="(getTotalSpent(selectedBudget.budget_items, 'actual').totalSaving / selectedBudget.current_income) <= .1 && (getTotalSpent(selectedBudget.budget_items, 'actual').totalSaving / selectedBudget.current_income) >= 0" [class.danger]="getTotalSpent(selectedBudget.budget_items, 'actual').percSaving <= .1 && getTotalSpent(selectedBudget.budget_items, 'actual').percSaving >= 0" [class.danger]="getTotalSpent(selectedBudget.budget_items, 'actual').percSaving < 0">% Saving<span>{{getTotalSpent(selectedBudget.budget_items, 'actual').percSaving | percent:'1.0-0'}}</span></ion-item>
        <ion-item><b>Ending Cash<span>{{getTotalSpent(selectedBudget.budget_items, 'actual').endingCash | currency:'USD':true}}</span></b></ion-item>

      </ion-list>

      <div id="footer-container">
        <p ion-text color="light" class="small-text">
          <ion-icon name="logo-twitter"></ion-icon>
          <a href="https://twitter.com/chrissgaona">
            Follow @chrissgaona
          </a>
        </p>
        <p ion-text color="light" class="small-text">Copyright &copy; 2016 Chris Gaona</p>
      </div>
    </div>

  </div>

    <ion-fab right bottom (click)="openModalNew()" *ngIf="budgets && networkService.wifiConnected">
      <button ion-fab><ion-icon name="add"></ion-icon></button>
    </ion-fab>

</ion-content>
