page-home {

  #title-container {
    position: relative;
    top: 0;
    left: 50%;
    width: 145px;
    margin-left: -70px;
  }

  .refresher-refreshing-text {
    font-size: 1.2rem;
  }

  .refresher-pulling-text {
    font-size: 1.2rem;
  }

  h2.title {
    position: relative;
    top: -5px;
    display: inline-block;
    text-align: center;
  }

  img {
    position: relative;
    //width: 130px;
    width: 40px;
    height: auto;
    top: 5px;
    z-index: 4;
  }

  #main-container {
    background-color: #eee;
  }

  #sub-container {
    background-color: #eee;
  }

  .toolbar-background {
    background-color: #fff !important;
  }

  .select-field {
    font-size: 1.5rem;
  }

  .small-text {
    font-size: 1.2rem;
  }

  #health-snapshot {
    position: relative;
    top: 20px;
  }

  #health-icon {
    color: #2ec95c;
    float: right;
    position: relative;
    top: -18px;
    font-size: 3em;
  }

  .header-dollars {
    font-size: 2rem !important;
    float: right;
    position: relative;
    top: 7px;

    span {
      font-size: 1.5rem;
    }
  }

  .header-icon {
    font-size: 3rem !important;
  }

  #total-dollars {
    background-color: #666;
  }

  #total-income {
    background-color: #688dcc;
  }

  #total-expense {
    background-color: #826bbd;
  }

  .projActual {

    span {
      float: right;
    }
  }

  #add-new-button {
    font-size: 1.2rem;
  }

  .warning {
    color: #EAE117;
  }

  #warning-icon {
    color: #EAE117;
    float: right;
    position: relative;
    top: -18px;
    font-size: 3em;
  }

  .danger {
    color: #d9534f;
  }

  #danger-icon {
    color: #d9534f;
    float: right;
    position: relative;
    top: -18px;
    font-size: 3em;
  }
}
