page-home {

  #title-container {
    position: relative;
    top: 0;
    left: 50%;
    width: 145px;
    margin-left: -70px;
  }

  .refresher-refreshing-text {
    font-size: 1.2rem;
  }

  .refresher-pulling-text {
    font-size: 1.2rem;
  }

  h2.title {
    position: relative;
    top: -5px;
    display: inline-block;
    text-align: center;
  }

  img {
    position: relative;
    //width: 130px;
    width: 40px;
    height: auto;
    top: 5px;
    z-index: 4;
  }

  #main-container {
    background-color: #eee;
  }

  #sub-container {
    background-color: #eee;
  }

  .toolbar-background {
    background-color: #fff !important;
  }

  .select-field {
    font-size: 1.5rem;
  }

  .small-text {
    font-size: 1.2rem;
  }

  #health-snapshot {
    position: relative;
    top: 20px;
  }

  #health-hr {
    margin-top: 39px;
  }

  #health-icon {
    color: #2ec95c;
    float: right;
    position: relative;
    top: -18px;
    font-size: 3em;
  }

  .header-dollars {
    font-size: 2rem !important;
    float: right;
    position: relative;
    top: 7px;

    span {
      font-size: 1.5rem;
    }
  }

  .header-icon {
    font-size: 3rem !important;
  }

  #total-dollars {
    background-color: #666;
  }

  #total-income {
    background-color: #688dcc;
  }

  #total-expense {
    background-color: #826bbd;
  }

  .projActual {

    span {
      float: right;
    }
  }

  #add-new-button {
    font-size: 1.2rem;
  }

  .warning {
    color: #FFD700;
  }

  #warning-icon {
    color: #FFD700;
    float: right;
    position: relative;
    top: -18px;
    font-size: 3em;
  }

  .danger {
    color: #d9534f;
  }

  #danger-icon {
    color: #d9534f;
    float: right;
    position: relative;
    top: -18px;
    font-size: 3em;
  }

  #main-loader {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: fixed;
    top: 50%;
    right: 50%;
    margin-right: -30px;
    margin-top: -30px;
    z-index:99;

    &:before,&:after{
      content: "";
      position: absolute;
      top: -10px;
      left: -10px;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      border: 3px solid transparent;
      border-top-color: #fff;
    }

    &:before{
      z-index: 100;
      animation: spin .6s linear infinite;
    }

    &:after{
      border: 3px solid #666;
    }
  }

  @keyframes spin{
    0%{
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100%{
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  #no-wifi {
    position: absolute;
    top: 50%;
    height: 120px;
    width: 100%;
    margin-top: -80px;

    ion-icon {
      font-size: 5em;
    }

    p {
      font-size: 2rem;
    }
  }

  #chart-container {
    position: relative;
    min-height: 120px;
    margin-bottom: 10px;
  }

  #pie-chart {
    position: relative;
    left: 5px;
    float: left;
    display: block;
    width: 25%;
    height: auto;
    margin-top: 20px;

    span {
      display: block;
      font-size: 10px;
    }
  }

  #line-chart {
    position: relative;
    left: 5px;
    float: left;
    display: block;
    width: 70%;
    height: auto;
    margin-top: 20px;

    span {
      display: block;
      font-size: 10px;
    }
  }

  .progress-wrapper{
    position: relative;
    width: 40%;
    margin: 10px 4.5%;
    font-size: 40px;
    display: inline-block;

    p {
      font-size: 1rem;
    }
  }

  .current{
    position: absolute;
    color: #bbb;
    font-weight: 100;
    line-height: 1;
  }

  round-progress {
    margin: auto;
  }

  #second-progress {
    top: 2px;
  }

  #badge {
    padding: 8px !important;

    &:before {
      content: 'Coming Soon';
      position: absolute;
      top: 2px;
      right: 5px;
      background: #f4f4f4;
      color: #666;
      border-radius: 5px;
      padding: 4px;
      transform: rotate(6deg);
      font-size: .8rem;
      box-shadow: 0 2px 1px #666;
    }
  }

  #saving-overview {
    font-size: 1.5rem;
  }



  #welcome-banner {
    position: relative;
    //font-size: 4rem;
  }

  #start-button {
    margin-top: 50px;
    top: 2000px;
    animation: moveUp 2s forwards;
  }

  @keyframes moveUp {
    0%   { top: 2000px }
    90%  { top: -20px }
    100% { top: 0 }
  }


  //Thank you http://codepen.io/mattsince87/pen/mOzEbX for the following code
  span.svg {
    display: block;
    margin: auto;
    width: 100%;
    //height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    svg {
      width: 200px;
      height: 200px;
      max-width: 200px;
      margin: auto;
    }
  }
  @keyframes fireworkone {
    0%   { opacity: 0;}
    25%  { opacity: .15;}
    50%  { opacity: .3;}
    75%  { opacity: .15;}
    100% { opacity: 0;}
  }
  @keyframes fireworktwo {
    0%   { opacity: 0;}
    25%  { opacity: .45;}
    50%  { opacity: .8;}
    75%  { opacity: .45;}
    100% { opacity: 0;}
  }
  @keyframes fireworthree {
    0%   { opacity: 0;}
    25%  { opacity: .55;}
    50%  { opacity: 1;}
    75%  { opacity: .55;}
    100% { opacity: 0;}
  }

  .firework-icon .cls-1, .firework-icon .cls-2, .firework-icon .cls-3 {
    opacity: 0;
    animation-duration: 1s;
    animation-iteration-count: infinite; }

  .firework-icon .cls-3 {
    animation-name: fireworthree;
    animation-delay: .11s; }

  .firework-icon .cls-2 {
    animation-name: fireworktwo;
    animation-delay: .41s; }

  .firework-icon .cls-1 {
    animation-name: fireworkone;
    animation-delay: .71s;}

  @keyframes elastic-pulse {
    0%   { transform: scale(0.2);}
    100% { transform: scale(1);}
  }

  .img-firework {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: elastic-pulse;
    animation-delay: 0s;
  }
}
