<ion-header>
  <ion-navbar id="header">
    <ion-buttons start *ngIf="currentUser">
      <button ion-button icon-only ion-text color="dark" (click)="presentPopover($event)">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
    <span *ngIf="networkService.wifiConnected" ion-text color="green" id="online-status">Online</span>
    <span *ngIf="!networkService.wifiConnected" ion-text color="light" id="online-status">Offline</span>
    <ion-title>
      <div id="ending-cash-container" *ngIf="selectedBudget" [class.visible-ending-cash]="!visibleTitle" no-margin no-padding>
        <span>Ending Cash</span>{{getTotalSpent(selectedBudget, 'actual').endingCash | currency:'USD':true}}
      </div>
      <div id="title-container" [class.visible-title]="visibleTitle" no-margin no-padding>
        <h2 ion-text color="dark" class="title" no-margin no-padding>
          Bud
        </h2>
        <img src="https://s3.amazonaws.com/budtrac/budtrac-logo.png" alt="budtrac logo">
        <h2 ion-text color="dark" class="title" no-margin no-padding>
          Trac
        </h2>
      </div>
    </ion-title>
    <ion-buttons end *ngIf="budgets && currentUser">
      <button ion-button icon-only ion-text color="dark" (click)="openModalEdit()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content id="main-container">

  <!--<ion-refresher (ionRefresh)="doRefresh($event)">-->
    <!--<ion-refresher-content-->
      <!--pullingIcon="arrow-dropdown"-->
      <!--pullingText="Pull to refresh"-->
      <!--refreshingText="Refreshing...">-->
    <!--</ion-refresher-content>-->
  <!--</ion-refresher>-->

  <!--<div *ngIf="!networkService.wifiConnected" id="no-wifi" text-center>-->
    <!--<ion-icon name="cloud" color="dark"></ion-icon>-->
    <!--<p no-margin ion-text color="dark">Offline</p>-->
  <!--</div>-->



  <div *ngIf="!budgets && visibleBudgets" id="main-loader"></div>

  <div padding *ngIf="budgets && visibleBudgets" id="sub-container">

    <div>
      <ion-card no-margin margin-bottom class="full-width" id="ipad-screens-health-snapshot">

        <ion-card-content id="health-snapshot" no-padding padding-horizontal margin-bottom *ngIf="(actualObject.totalSaving / selectedBudget.current_income) > .1">
          Health Snapshot
          <ion-icon name="checkmark-circle" id="health-icon"></ion-icon>
        </ion-card-content>

        <ion-card-content id="health-snapshot" class="warning" no-padding padding-horizontal margin-bottom *ngIf="(getTotalSpent(selectedBudget, 'actual').totalSaving / selectedBudget.current_income) <= .1 && (actualObject.totalSaving / selectedBudget.current_income) >= 0">
          Health Snapshot
          <ion-icon name="alert" id="warning-icon"></ion-icon>
        </ion-card-content>

        <ion-card-content id="health-snapshot" class="danger" no-padding padding-horizontal margin-bottom *ngIf="(actualObject.totalSaving / selectedBudget.current_income) < 0">
          Health Snapshot
          <ion-icon name="close-circle" id="danger-icon"></ion-icon>
        </ion-card-content>

        <hr id="health-hr">

        <ion-item id="saving-overview">
          <ion-icon name="arrow-dropright-circle" color="primary" item-left></ion-icon>
          <span ion-text text-center color="light">Saving Overview</span>
          <ion-badge item-right id="badge">See More</ion-badge>
        </ion-item>

        <div class="progress-wrapper">
          <div class="current" [ngStyle]="getOverlayStyle()"><p ion-text text-center>Current</p>{{getTotalSpent(selectedBudget, 'actual').percSaving | percent:'1.0-0'}}</div>
          <round-progress [current]="actualObject.percSaving" [max]="1" [duration]="duration" [animationDelay]="animationDelay" [radius]="radius" [semicircle]="semicircle" [color]="gradient ? 'url(#gradient)' : color" [responsive]="true"></round-progress>
        </div>

        <div class="progress-wrapper" id="second-progress" margin-bottom>
          <div class="current" [ngStyle]="getOverlayStyle()"><p ion-text text-center>Overall</p>{{ getAverageSaving(budgets) | percent:'1.0-0'}}</div>
          <round-progress [current]="getAverageSaving(budgets)" [max]="1" [duration]="duration" [animationDelay]="animationDelay" [radius]="radius" [semicircle]="semicircle" [color]="gradient ? 'url(#gradient)' : colorAverage" [responsive]="true"></round-progress>
        </div>

      </ion-card>

      <ion-list no-margin margin-top id="select-container">
        <ion-item>
          <ion-label class="select-field">Period</ion-label>
          <ion-select [(ngModel)]="selectedBudget" class="select-field">
            <ion-option *ngFor="let budget of budgets" [value]="budget">{{budget.start_period | date}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <p no-margin margin-vertical margin-left class="small-text" ion-text color="light" *ngIf="selectedBudget.updatedAt">
        Last Updated - {{parseDate(selectedBudget.updatedAt)}}
      </p>

      <ion-card no-margin margin-vertical class="full-width highlight-cards">

        <ion-card-content no-padding padding-horizontal id="total-dollars">
          <ion-icon name="cash" item-left class="header-icon" ion-text color="lighter"></ion-icon>
          <p class="header-dollars" ion-text color="lighter"><span>Total: </span>{{selectedBudget.existing_cash | currency:'USD':true}}</p>
        </ion-card-content>

      </ion-card>

      <ion-card no-margin margin-vertical class="full-width highlight-cards">

        <ion-card-content no-padding padding-horizontal id="total-income">
          <ion-icon name="log-in" item-left class="header-icon" ion-text color="lighter"></ion-icon>
          <p class="header-dollars" ion-text color="lighter"><span>Income: </span>{{selectedBudget.current_income | currency:'USD':true}}</p>
        </ion-card-content>

      </ion-card>

      <ion-card no-margin margin-vertical class="full-width highlight-cards">

        <ion-card-content no-padding padding-horizontal id="total-expense">
          <ion-icon name="log-out" item-left class="header-icon" ion-text color="lighter"></ion-icon>
          <p class="header-dollars" ion-text color="lighter"><span>Expense: </span>{{actualObject.totalSpent | currency:'USD':true}}</p>
        </ion-card-content>

      </ion-card>

      <hr class="main-hr">

      <div padding>
        <ion-segment [(ngModel)]="projActual">
          <ion-segment-button value="projection" (click)="projActual = 'projection'">
            Projection
          </ion-segment-button>
          <ion-segment-button value="actual" (click)="projActual = 'actual'">
            Actual
          </ion-segment-button>
        </ion-segment>
      </div>

      <ion-list class="projActual" *ngIf="projActual === 'projection'">

        <ion-list-header>
          Projection
        </ion-list-header>

        <ion-item-sliding *ngFor="let item of selectedBudget.budget_items" class="projActualItem" margin-bottom>
          <ion-item text-capitalize (click)="goToEditPage(selectedBudget, item)">{{item.item}}<span>{{item.projection | currency:'USD':true}}</span></ion-item>
          <ion-item-options side="right">
            <button ion-button color="danger" (click)="showConfirm(item)">
              Delete
            </button>
          </ion-item-options>
        </ion-item-sliding>

        <ion-buttons>
          <button id="add-new-button" ion-button color="primary" icon-left round (click)="addBudgetItem()">
            <ion-icon name="add"></ion-icon>
            Add new item
          </button>
        </ion-buttons>

      </ion-list>

      <ion-list class="projActual" *ngIf="projActual === 'actual'">

        <ion-list-header>
          Actual
        </ion-list-header>

        <ion-item-group *ngFor="let item of selectedBudget.budget_items" margin-bottom>
          <ion-item-divider color="lighter" text-capitalize>{{item.item}} <ion-badge *ngIf="item.paid" id="paid-boolean" color="secondary" text-uppercase>paid</ion-badge><span item-right ion-text color="{{(item.projection - getActualTotal(item)) < 0 ? 'danger' : 'light'}}" class="small-text">{{item.projection - getActualTotal(item) | currency:'USD':true}}</span></ion-item-divider>
          <ion-item-sliding *ngFor="let actual of item.actual" class="projActualItem">
            <ion-item text-capitalize (click)="goToEditPage(selectedBudget, item)">{{actual.name}}<span><ion-icon name="{{actual.expense ? 'remove-circle' : 'add-circle'}}" [class.indicator-subtract]="actual.expense" [class.indicator-add]="!actual.expense"></ion-icon> {{actual.amount | currency:'USD':true}}</span></ion-item>
            <ion-item-options side="right">
              <button ion-button color="lighter">
                <ion-toggle color="danger" checked="true" [(ngModel)]="actual.expense" (ngModelChange)="saveAll('toggle')"></ion-toggle>
              </button>
              <button ion-button color="danger" (click)="showConfirmation(item, actual)">
                Delete
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-item-group>

        <ion-buttons>
          <button id="add-new-button" ion-button color="primary" icon-left round (click)="addBudgetItem()">
            <ion-icon name="add"></ion-icon>
            Add new item
          </button>
        </ion-buttons>

      </ion-list>

      <ion-list class="projActual totals-list" *ngIf="projActual === 'projection'">

        <ion-list-header>
          Totals
        </ion-list-header>

        <ion-item [class.danger]="getTotalSpent(selectedBudget, 'projection').totalSpent > selectedBudget.current_income">Spent<span>{{projectionObject.totalSpent | currency:'USD':true}}</span></ion-item>
        <ion-item [class.warning]="(projectionObject.totalSaving / selectedBudget.current_income) <= .1 && (projectionObject.totalSaving / selectedBudget.current_income) >= 0" [class.danger]="(projectionObject.totalSaving / selectedBudget.current_income) < 0">Saving<span>{{projectionObject.totalSaving | currency:'USD':true}}</span></ion-item>
        <ion-item [class.danger]="projectionObject.percSaving <= .1 && projectionObject.percSaving >= 0" [class.danger]="projectionObject.percSaving < 0">% Saving<span>{{projectionObject.percSaving | percent:'1.0-0'}}</span></ion-item>
        <ion-item><b>Ending Cash<span>{{projectionObject.endingCash | currency:'USD':true}}</span></b></ion-item>

      </ion-list>

      <ion-list class="projActual totals-list" *ngIf="projActual === 'actual'">

        <ion-list-header>
          Totals
        </ion-list-header>

        <ion-item [class.danger]="actualObject.totalSpent > selectedBudget.current_income">Spent<span>{{actualObject.totalSpent | currency:'USD':true}}</span></ion-item>
        <ion-item [class.warning]="(actualObject.totalSaving / selectedBudget.current_income) <= .1 && (actualObject.totalSaving / selectedBudget.current_income) >= 0" [class.danger]="(actualObject.totalSaving / selectedBudget.current_income) < 0">Saving<span>{{actualObject.totalSaving | currency:'USD':true}}</span></ion-item>
        <ion-item [class.warning]="(actualObject.totalSaving / selectedBudget.current_income) <= .1 && (actualObject.totalSaving / selectedBudget.current_income) >= 0" [class.danger]="actualObject.percSaving <= .1 && actualObject.percSaving >= 0" [class.danger]="actualObject.percSaving < 0">% Saving<span>{{actualObject.percSaving | percent:'1.0-0'}}</span></ion-item>
        <ion-item><b>Ending Cash<span>{{actualObject.endingCash | currency:'USD':true}}</span></b></ion-item>

      </ion-list>

      <div id="footer-container">
        <p ion-text color="light" class="small-text">
          <ion-icon name="logo-twitter"></ion-icon>
          <a href="https://twitter.com/chrissgaona">
            Follow @chrissgaona
          </a>
        </p>
        <p ion-text color="light" class="small-text">Copyright &copy; 2016 Chris Gaona</p>
      </div>
    </div>

  </div>

    <ion-fab right bottom (click)="openModalNew()" *ngIf="budgets && networkService.wifiConnected">
      <button ion-fab><ion-icon name="add"></ion-icon></button>
    </ion-fab>

</ion-content>
