page-welcome {
  #welcome-banner {
    position: relative;
    //font-size: 4rem;
  }

  #start-button {
    margin-top: 50px;
    top: 2000px;
    animation: moveUp 2s forwards;
  }

  @keyframes moveUp {
    0%   { top: 2000px }
    90%  { top: -20px }
    100% { top: 0 }
  }

  button.back-button {
    display: none !important;
  }


  //Thank you http://codepen.io/mattsince87/pen/mOzEbX for the following code
  span.svg {
    display: block;
    margin: auto;
    width: 100%;
    //height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    svg {
      width: 200px;
      height: 200px;
      max-width: 200px;
      margin: auto;
    }
  }
  @keyframes fireworkone {
    0%   { opacity: 0;}
    25%  { opacity: .15;}
    50%  { opacity: .3;}
    75%  { opacity: .15;}
    100% { opacity: 0;}
  }
  @keyframes fireworktwo {
    0%   { opacity: 0;}
    25%  { opacity: .45;}
    50%  { opacity: .8;}
    75%  { opacity: .45;}
    100% { opacity: 0;}
  }
  @keyframes fireworthree {
    0%   { opacity: 0;}
    25%  { opacity: .55;}
    50%  { opacity: 1;}
    75%  { opacity: .55;}
    100% { opacity: 0;}
  }

  .firework-icon .cls-1, .firework-icon .cls-2, .firework-icon .cls-3 {
    opacity: 0;
    animation-duration: 1s;
    animation-iteration-count: infinite; }

  .firework-icon .cls-3 {
    animation-name: fireworthree;
    animation-delay: .11s; }

  .firework-icon .cls-2 {
    animation-name: fireworktwo;
    animation-delay: .41s; }

  .firework-icon .cls-1 {
    animation-name: fireworkone;
    animation-delay: .71s;}

  @keyframes elastic-pulse {
    0%   { transform: scale(0.2);}
    100% { transform: scale(1);}
  }

  .img-firework {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: elastic-pulse;
    animation-delay: 0s;
  }
}
