<ion-header>

  <ion-navbar id="modal-auth-toolbar">
    <ion-title id="modal-title">Reset Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content id="modal-auth-container">
  <img margin-top src="https://s3.amazonaws.com/budtrac/budtrac-logo.png" alt="budtrac logo">

  <p ion-text color="light" text-center padding>Uh oh....forgot your password? That's okay, you can make a new one!</p>

  <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>

    <ion-item padding-horizontal class="no-bottom-border">
      <ion-label floating>Email</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)" class="border-bottom" [class.invalid]="!resetPasswordForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>

    <ion-item class="error-message" *ngIf="!resetPasswordForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Please enter a valid email.</p>
    </ion-item>


    <ion-item padding-top class="no-bottom-border">
      <ion-buttons>
        <button type="submit" ion-button block>Reset your Password</button>
        <!--<button type="submit" ion-button block [disabled]="loadingButton" [class.loading]="loadingButton" (click)="loadingButton = true">{{loadingButton ? 'Loading...' : 'Reset your Password'}}<span id="loading-spinner" *ngIf="loadingButton"></span></button>-->
      </ion-buttons>
    </ion-item>

  </form>

  <div id="footer-container">
    <p ion-text color="light" class="small-text" text-center>
      <ion-icon name="logo-twitter"></ion-icon>
      <a href="https://twitter.com/chrissgaona">
        Follow @chrissgaona
      </a>
    </p>
    <p ion-text text-center color="light" class="small-text">Copyright &copy; 2017 BudTrac</p>
  </div>
</ion-content>
