<ion-header>
  <ion-toolbar id="header">
    <ion-title color="dark">
      {{editing ? "Making some changes!" : "Let's track your pay!"}}
    </ion-title>
    <ion-buttons end>

      <button ion-button (click)="dismiss(selectedBudget)" *ngIf="editing">
        <span ion-text color="dark" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>

      <button ion-button (click)="setToPrevBudget()" *ngIf="!editing">
        <span ion-text color="dark" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content id="modal-container">
  <p ion-text padding no-margin class="sub-text" *ngIf="editing">
    Please be careful while editing. I take no responsibility for your mistakes.
  </p>
  <p ion-text padding no-margin class="sub-text" *ngIf="!editing">
    I've done my best to populate the following fields for you. Your welcome!
  </p>

  <ion-list>

    <form [formGroup]="budgetForm" (submit)="checkWhichFunction()" novalidate>

      <ion-list-header class="input-header" no-margin>
        When does the current period start?
      </ion-list-header>

      <ion-item class="error-message" *ngIf="!budgetForm.controls.date.valid  && (dateChanged || submitAttempt)">
        <p>Please enter the current start period</p>
      </ion-item>

      <ion-item class="border-bottom">
        <ion-datetime #date formControlName="date" (change)="elementChanged(date)" displayFormat="MMM DD YYYY" class="input-field-date" [class.invalid]="!budgetForm.controls.date.valid && (dateChanged || submitAttempt)"></ion-datetime>
      </ion-item>

      <ion-list-header class="input-header" no-margin>
        What is your current cash?
      </ion-list-header>

      <ion-item class="error-message" *ngIf="!budgetForm.controls.existing.valid  && (existingChanged || submitAttempt)">
        <p>Please enter existing cash in this format: $1,255.52</p>
      </ion-item>

      <ion-item class="border-bottom padding-left">
        <ion-input #existing formControlName="existing" (change)="elementChanged(existing)" [textMask]="{mask: mask}" type="text" class="input-field" name="current_cash" [class.invalid]="!budgetForm.controls.existing.valid && (existingChanged || submitAttempt)"></ion-input>
      </ion-item>

      <ion-list-header class="input-header" no-margin>
        What is your current income?
      </ion-list-header>

      <ion-item class="error-message" *ngIf="!budgetForm.controls.current.valid  && (currentChanged || submitAttempt)">
        <p>Please enter current income in this format: $1,255.52</p>
      </ion-item>

      <ion-item class="border-bottom padding-left">
        <ion-input #current formControlName="current" (change)="elementChanged(current)" [textMask]="{mask: mask}" type="text" class="input-field" name="current_income" [class.invalid]="!budgetForm.controls.current.valid && (currentChanged || submitAttempt)"></ion-input>
      </ion-item>

      <ion-item *ngIf="!editing" id="checkbox">
        <ion-label>Use last period's projections?</ion-label>
        <ion-checkbox checked="true" color="primary" #reuse formcontrolname="reuse"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-buttons left>
          <button ion-button type="submit">
            {{editing ? 'Update' : 'Create'}}
          </button>
          <button type="button" ion-button color="danger" icon-only margin-left *ngIf="editing" (click)="showConfirm()">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-buttons>
      </ion-item>

    </form>

  </ion-list>

  <div class="dog-container">
    <div class="dog">
      <div class="ears"></div>

      <div class="dog-body">
        <div class="eyes"></div>
        <div class="beard">
          <div class="mouth">
            <div class="tongue"></div>
          </div>
        </div>
        <div class="belt">
          <div class="locket"></div>
          <div class="dot dot1"></div>
          <div class="dot dot2"></div>
          <div class="dot dot3"></div>
          <div class="dot dot4"></div>
          <div class="tag"></div>
        </div>
        <div class="stomach">
        </div>
        <div class="legs">
          <div class="left"></div>
          <div class="right"></div>
        </div>
      </div>
      <div class="tail">
      </div>
    </div>
  </div>

</ion-content>
